<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>exam25</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 서블릿 클래스 만드니까 이거생김 -->
  <servlet>
    <description></description>
    <display-name>TenServlet</display-name>
    <servlet-name>TenServlet</servlet-name><!-- 2 -->
    <servlet-class>exam.TenServlet</servlet-class><!--3 실제클래스인 exam패키지 안에있는 TenServlet 클래스 실행함-->
  </servlet>
  <servlet-mapping>
    <servlet-name>TenServlet</servlet-name><!-- 1 -->
    <!-- 클라이언트가 요청할 때 아래와 같은 url로 요청하면 서블릿 네임(1)이 같은 서블릿(2)을 찾아서 실제클래스인  (3)exam패키지 안에있는 TenServlet 클래스 실행함-->
     <url-pattern>/ten</url-pattern><!-- ttt로 바꾸면 url이 ttt로 바뀜 http://localhost:8080/exam25/ten -> http://localhost:8080/exam25/ttt-->
  	 <!-- <url-pattern>/ttt</url-pattern> -->
  <!-- web.xml바뀌면 서버 재시작되어야됨 -->
  </servlet-mapping>
</web-app>
<!-- 3.0이상에서는 이런 일을 어노테이션으로 함 -->